.ui-020,
.ui-020 * {
  box-sizing: border-box;
}
.ui-020 {
  background: var(--coolgray-10, #f2f4f8);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.desktop-vertical-logged-in-buttons-bottom {
  background: var(--default-white, #ffffff);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 0px 1px 0px 1px;
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 256px;
  height: 1024px;
  position: relative;
}
.logo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div {
  color: var(--coolgray-60, #697077);
  text-align: left;
  font-family: var(--heading-4-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-4-font-size, 24px);
  line-height: var(--heading-4-line-height, 110%);
  font-weight: var(--heading-4-font-weight, 700);
  position: relative;
}
.buttons-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.user-thumb {
  background: var(--coolgray-10, #f2f4f8);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon-tabler-icons-brightness-2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.menu-item {
  background: #f2f4f8;
  border-style: solid;
  border-color: var(--coolgray-10, #f2f4f8);
  border-width: 0px 0px 1px 0px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 14px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.div2 {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.menu-item2 {
  background: #ffffff;
  border-style: solid;
  border-color: var(--coolgray-10, #f2f4f8);
  border-width: 0px 0px 1px 0px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-feathericons-file-text {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.menu-item3 {
  border-style: solid;
  border-color: var(--coolgray-10, #f2f4f8);
  border-width: 0px 0px 1px 0px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-jam-icons-outline-logos-pictures {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-heroicons-outline-lock-open {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.page-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 71px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.headline {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-text {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.secondary-headline {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: var(--heading-2-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 42px);
  line-height: var(--heading-2-line-height, 110%);
  font-weight: var(--heading-2-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.button {
  padding: 16px 8px 16px 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.table {
  background: var(--default-white, #ffffff);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 793px;
  position: relative;
  overflow: hidden;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 858px;
  position: relative;
}
.frame-2295 {
  background: #ffffff;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 796px;
  height: 858px;
  position: relative;
}
.frame-22952 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-22953 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 0px 1px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 233px;
  height: 96px;
  position: relative;
}
.user-thumb2 {
  background: var(--coolgray-10, #f2f4f8);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
}
.icon-tabler-icons-brightness-22 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-2296 {
  padding: 44px 48px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 44px;
  position: relative;
}
.description-top {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: var(--body-l-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-l-font-size, 18px);
  line-height: var(--body-l-line-height, 140%);
  font-weight: var(--body-l-font-weight, 400);
  position: relative;
}
.description-top2 {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: var(--body-s-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 140%);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.top2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.table2 {
  background: var(--default-white, #ffffff);
  padding: 50px 120px 50px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 736px;
  height: 437px;
  position: relative;
  overflow: hidden;
}
.headline2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 95px;
  position: relative;
}
.secondary-headline2 {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  line-height: 110%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.section-text2 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 153px;
  position: relative;
}
.secondary-headline3 {
  color: #787878;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  line-height: 110%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.table3 {
  background: var(--default-white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 306px;
  height: 387px;
  position: relative;
  overflow: hidden;
}
.field {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-30, #c1c7cd);
  border-width: 0px 0px 1px 0px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 306px;
  height: 32px;
  position: relative;
}
.text2 {
  color: var(--coolgray-60, #697077);
  text-align: left;
  font-family: var(--body-m-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-m-font-size, 16px);
  line-height: var(--body-m-line-height, 140%);
  font-weight: var(--body-m-font-weight, 400);
  position: relative;
  flex: 1;
  height: 22px;
}
.field2 {
  background: #ffffff;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 306px;
  height: 30px;
  position: relative;
}
.text3 {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: var(--body-s-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 140%);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  flex: 1;
}
.text4 {
  color: var(--coolgray-60, #697077);
  text-align: left;
  font-family: var(--body-m-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-m-font-size, 16px);
  line-height: var(--body-m-line-height, 140%);
  font-weight: var(--body-m-font-weight, 400);
  position: relative;
  flex: 1;
}
.field3 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-30, #c1c7cd);
  border-width: 0px 0px 1px 0px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 306px;
  height: 30px;
  position: relative;
}
.type-primary-size-medium-status-enable {
  background: var(--color-clickable-color, #2b73ff);
  border-radius: var(--space-space-4, 4px);
  padding: 0px var(--space-space-24, 24px) 0px var(--space-space-24, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--space-space-12, 12px);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  color: var(--color-main-100, #ffffff);
  text-align: left;
  font-family: var(
    --body-16-medium-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--body-16-medium-font-size, 16px);
  line-height: var(--body-16-medium-line-height, 26px);
  font-weight: var(--body-16-medium-font-weight, 500);
  position: relative;
}
