.ui-027,
.ui-027 * {
  box-sizing: border-box;
}
.ui-027, .ui-0272 {
  width: 100%; /* 부모 컨테이너 너비 조정 */
  overflow-x: auto; /* 불필요한 스크롤 제거 */
}

.desktop-vertical-logged-in-buttons-bottom {
  background: var(--default-white, #ffffff);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 0px 1px 0px 1px;
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  width: 256px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div {
  color: var(--coolgray-60, #697077);
  text-align: left;
  font-family: var(--heading-4-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-4-font-size, 24px);
  line-height: var(--heading-4-line-height, 110%);
  font-weight: var(--heading-4-font-weight, 700);
  position: relative;
}
.buttons-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.user-thumb {
  background: var(--coolgray-10, #f2f4f8);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon-tabler-icons-brightness-2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.menu-item {
  border-style: solid;
  border-color: var(--coolgray-10, #f2f4f8);
  border-width: 0px 0px 1px 0px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 14px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.div2 {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.menu-item2 {
  background: #ffffff;
  border-style: solid;
  border-color: var(--coolgray-10, #f2f4f8);
  border-width: 0px 0px 1px 0px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-feathericons-file-text {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.menu-item3 {
  background: #f2f4f8;
  border-style: solid;
  border-color: var(--coolgray-10, #f2f4f8);
  border-width: 0px 0px 1px 0px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-jam-icons-outline-logos-pictures {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-heroicons-outline-lock-open {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.page-content {
  background: #f2f4f8;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 1184px;
  height: 1024px; */
  position: absolute;
  left: 256px;
  top: 0px;
  width: calc(100vw - 256px); /* 사이드바 제외한 너비 */
  height: 100vh; /* 브라우저 높이에 맞춤 */
  
}
.headline {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-text {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.secondary-headline {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: var(--heading-2-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 42px);
  line-height: var(--heading-2-line-height, 110%);
  font-weight: var(--heading-2-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.dashboard-tabs {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
    margin-left: auto; /* 오른쪽 끝 정렬 */
  max-width: calc(100vw - 256px); /* 브라우저 너비에서 사이드바 제외 */
}
.field {
  background: var(--default-white, #ffffff);
  border-style: solid;
  border-color: var(--coolgray-30, #c1c7cd);
  border-width: 0px 0px 1px 0px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 480px;
  height: 48px;
  position: relative;
}
.icon-jam-icons-outline-logos-search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.div3 {
  color: #697077;
  text-align: right;
  font-family: var(--other-menu-m-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--other-menu-m-font-size, 16px);
  line-height: var(--other-menu-m-line-height, 100%);
  font-weight: var(--other-menu-m-font-weight, 500);
  position: relative;
  width: 38px;
}
.vector {
  flex-shrink: 0;
  width: 13.34px;
  height: 7.67px;
  position: relative;
  overflow: visible;
}
.text2 {
  color: var(--coolgray-60, #697077);
  text-align: right;
  font-family: var(--body-m-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-m-font-size, 16px);
  line-height: var(--body-m-line-height, 140%);
  font-weight: var(--body-m-font-weight, 400);
  position: relative;
  width: 70px;
}
.pagination {
  background: #f2f4f8;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 672px;
  position: relative;
  width: calc(100% - 256px); /* 사이드바 제외한 너비 */
  margin: 24px auto 0; /* 위쪽 간격 및 중앙 정렬 */
}
.pagination2 {
  background: #f2f4f8;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 1136px;
  position: relative;
}
.table {
  background: var(--default-white, #ffffff);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  /* justify-content: flex-start; */
  /* flex-shrink: 0; */
  /* width: 1136px; */
  width: 100%; /* 페이지 내부 여백 고려 */
  max-width: calc(100%-256px);
  margin: 0 auto;
  position: relative;
  overflow-x:auto;
}
.row {
  background: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.cell {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content {
  padding: 14px 10px 14px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.frame-60 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.cell2 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.content2 {
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div4 {
  color: var(--coolgray-100, #121619);
  text-align: left;
  font-family: var(--subtitle-s-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--subtitle-s-font-size, 14px);
  line-height: var(--subtitle-s-line-height, 110%);
  font-weight: var(--subtitle-s-font-weight, 500);
  position: relative;
}
.cell3 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.cell4 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 129px;
  position: relative;
}
.content3 {
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 160px;
  height: 47px;
  position: relative;
  overflow: hidden;
}
.cell5 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 137px;
  height: 48px;
  position: relative;
}
.cell6 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 131px;
  position: relative;
}
.content4 {
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 160px;
  position: relative;
  overflow: hidden;
}
.cell7 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 169px;
  position: relative;
}
.title {
  color: var(--coolgray-100, #121619);
  text-align: left;
  font-family: var(--subtitle-s-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--subtitle-s-font-size, 14px);
  line-height: var(--subtitle-s-line-height, 110%);
  font-weight: var(--subtitle-s-font-weight, 500);
  position: relative;
}
.cell8 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 78px;
  position: relative;
}
.content5 {
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 78px;
  position: relative;
  overflow: hidden;
}
.cell9 {
  background: var(--coolgray-10, #f2f4f8);
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 40px;
  position: relative;
}
.cell10 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-602 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.cell11 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.content6 {
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.user-card {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 232px;
  position: relative;
}
.image {
  border-radius: 10px;
  flex-shrink: 0;
  width: 38.71px;
  height: 40px;
  position: relative;
  overflow: hidden;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.category {
  color: var(--coolgray-90, #21272a);
  text-align: left;
  font-family: var(--subtitle-s-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--subtitle-s-font-size, 14px);
  line-height: var(--subtitle-s-line-height, 110%);
  font-weight: var(--subtitle-s-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.cell12 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.content7 {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.cell-text {
  color: var(--coolgray-100, #121619);
  text-align: left;
  font-family: var(--body-s-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 140%);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.cell13 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 129px;
  height: 56px;
  position: relative;
}
.cell14 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 137px;
  position: relative;
}
._3 {
  color: var(--coolgray-100, #121619);
  text-align: left;
  font-family: var(--body-s-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 140%);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.cell15 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 131px;
  height: 52px;
  position: relative;
}
.cell16 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 169px;
  position: relative;
}
.cell17 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 72px;
  position: relative;
}
.content8 {
  padding: 14px 12px 14px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.badge {
  background: var(--coolgray-10, #f2f4f8);
  border-radius: 10px;
  padding: 1px 10px 2px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text3 {
  color: var(--coolgray-90, #21272a);
  text-align: center;
  font-family: var(--body-xs-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 140%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.cell18 {
  border-style: solid;
  border-color: var(--coolgray-20, #dde1e6);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 40px;
  position: relative;
}
.content9 {
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon-jam-icons-filled-more-horizontal-f {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-603 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-604 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-605 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f4 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-606 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f5 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-607 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f6 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-608 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f7 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-609 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f8 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-6010 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f9 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-6011 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-jam-icons-filled-more-horizontal-f10 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.pagination3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 1136px; */
  position: relative;
  display: flex;
  width: calc(100vw - 256px); /* 사이드바 제외한 너비 */
  margin: 24px auto;
  bottom: 20px;
}
.pagination4 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.icon-jam-icons-outline-logos-chevron-left {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.text-container {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.page {
  color: var(--coolgray-60, #697077);
  text-align: left;
  font-family: var(--button-m-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--button-m-font-size, 16px);
  line-height: var(--button-m-line-height, 100%);
  letter-spacing: var(--button-m-letter-spacing, 0.5px);
  font-weight: var(--button-m-font-weight, 500);
  position: relative;
}
.text-container2 {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.page2 {
  color: var(--primary-60, #0f62fe);
  text-align: left;
  font-family: var(--button-m-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--button-m-font-size, 16px);
  line-height: var(--button-m-line-height, 100%);
  letter-spacing: var(--button-m-letter-spacing, 0.5px);
  font-weight: var(--button-m-font-weight, 500);
  position: relative;
}
.pagination5 {
  background: var(--primary-30, #a6c8ff);
  border-style: solid;
  border-color: var(--primary-30, #a6c8ff);
  border-width: 2px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.page3 {
  color: var(--primary-90, #001d6c);
  text-align: left;
  font-family: var(--button-m-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--button-m-font-size, 16px);
  line-height: var(--button-m-line-height, 100%);
  letter-spacing: var(--button-m-letter-spacing, 0.5px);
  font-weight: var(--button-m-font-weight, 500);
  position: relative;
}
.icon-jam-icons-outline-logos-chevron-right {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.button {
  color: var(--color-main-100, #ffffff);
  text-align: left;
  font-family: var(
    --body-16-medium-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--body-16-medium-font-size, 16px);
  line-height: var(--body-16-medium-line-height, 26px);
  font-weight: var(--body-16-medium-font-weight, 500);
  position: relative;
}
.type-primary-size-medium-status-enable2 {
  background: var(--color-clickable-color, #2b73ff);
  border-radius: var(--space-space-4, 4px);
  padding: 0px var(--space-space-24, 24px) 0px var(--space-space-24, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--space-space-12, 12px);
  align-items: center;
  justify-content: center;
  width: 81px;
  /* position: absolute; */
  position: relative; /* 상대 위치로 설정 */
  margin-left: auto; /* 오른쪽 끝 정렬 */
  margin-right: 270px; /* 테이블 오른쪽 끝과 간격 조정 */
  margin-top: 16px; /* 위쪽 간격 추가 */
  /* left: 1334px;
  top: 796px; */
}
.delete-button-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  width: 100%; /* 부모의 전체 너비 */
  padding-right: 16px; /* 테이블 오른쪽 끝과 맞춤 */
  margin-top: 85vh; /* 위쪽 간격 */
}
